@font-face {
  font-family: "Allura";
  src: url(../../font/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../../font/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../../font/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}
* body {
  background: rgb(31, 31, 31);
}

li {
  list-style: none;
}

a, a:visited {
  color: black;
}

p {
  font-family: roboto, sans-serif;
}

header {
  height: 100vh;
  background: url(../../img/bg-slider-06.jpg) center/cover;
  color: white;
}
header nav {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: poppins, sans-serif;
  padding: 30px 0;
}
@media screen and (max-width: 870px) {
  header nav {
    width: 100%;
    padding: 20px;
  }
}
header nav h3 {
  font-family: allura, sans-serif;
  font-size: 3rem;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}
header nav ul li {
  cursor: pointer;
}
header nav .navbar {
  width: 70%;
}
@media screen and (max-width: 870px) {
  header nav .navbar {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  header nav .links {
    width: auto;
  }
}
header nav .links li {
  margin: 0 10px;
}
header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 68%;
  text-align: center;
}
header .header-container h2 {
  font-family: "allura", sans-serif;
  color: rgb(161, 127, 64);
  font-size: 3rem;
  letter-spacing: 5px;
}
@media screen and (max-width: 870px) {
  header .header-container h2 {
    font-size: 2rem;
  }
}
header .header-container h1 {
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.8rem;
  letter-spacing: 10px;
}
@media screen and (max-width: 460px) {
  header .header-container h1 {
    font-size: 2.4rem;
  }
}
header .header-container h2, header .header-container h1 {
  line-height: 45px;
}
header .header-container img {
  width: 30px;
  margin: 60px 0;
}
header .header-container p {
  text-transform: uppercase;
  letter-spacing: 7px;
}
@media screen and (max-width: 870px) {
  header .header-container p {
    text-align: center;
    width: 70%;
  }
}

.section1 {
  background: rgb(233, 233, 233);
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 840px) {
  .section1 {
    display: block;
  }
}
.section1 .left1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px dashed rgb(161, 127, 64);
  margin: 20px;
}
@media screen and (max-width: 840px) {
  .section1 .left1 {
    border: none;
    margin: 0;
    padding: 30px;
  }
}
@media screen and (max-width: 840px) {
  .section1 .left1 .left1-container {
    border: 1px dashed rgb(161, 127, 64);
    padding: 30px;
  }
}
.section1 .left1 .left1-container h3 {
  font-family: "allura", sans-serif;
  color: rgb(161, 127, 64);
  font-size: 2.6rem;
}
.section1 .left1 .left1-container h2 {
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
}
.section1 .left1 .left1-container h3, .section1 .left1 .left1-container h2 {
  line-height: 25px;
}
.section1 .left1 .left1-container img {
  margin: 30px 0;
}
.section1 .left1 .left1-container img:nth-of-type(2) {
  margin: 25px 0 15px;
  border-radius: 50%;
  height: 90px;
}
.section1 .left1 .left1-container p {
  font-size: 1.2rem;
  width: 95%;
  margin: 0 auto;
}
.section1 .left1 .left1-container p:nth-of-type(2) {
  color: grey;
  font-size: 0.9rem;
}
.section1 .left1 .left1-container h4 {
  font-family: poppins, sans-serif;
  letter-spacing: 2px;
}
@media screen and (max-width: 840px) {
  .section1 .right1 {
    display: none;
  }
}
.section1 .right1 .img-right {
  height: 550px;
  width: 100%;
  background-image: url(../../img/store-01.jpg);
  background-size: cover;
  background-position: center;
}

.section2 .menus {
  color: white;
  text-align: center;
}
.section2 .menus h3 {
  font-family: "allura", sans-serif;
  color: rgb(161, 127, 64);
  font-size: 2rem;
  margin: 40px 0;
}
.section2 .menus ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  margin: 40px auto;
  font-family: poppins, sans-serif;
}
@media screen and (max-width: 1366px) {
  .section2 .menus ul {
    width: 85%;
  }
}
@media screen and (max-width: 400px) {
  .section2 .menus ul {
    font-size: 0.8rem;
    width: 95%;
  }
}
.section2 .menus ul li {
  border-bottom: 1px solid;
  padding-bottom: 5px;
  cursor: pointer;
}
.section2 .bg-meal {
  margin-top: 200px;
  background: url(../../img/bg-menu-01.jpg) center/cover;
}
.section2 .bg-meal .meal {
  background: rgb(233, 233, 233);
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  top: -150px;
}
@media screen and (max-width: 1366px) {
  .section2 .bg-meal .meal {
    width: 80%;
  }
}
@media screen and (max-width: 845px) {
  .section2 .bg-meal .meal {
    display: block;
  }
}
.section2 .bg-meal .meal .meal-container {
  padding: 20px;
  border-top: 5px solid rgb(161, 127, 64);
}
@media screen and (max-width: 845px) {
  .section2 .bg-meal .meal .meal-container {
    border: none;
  }
}
@media screen and (max-width: 410px) {
  .section2 .bg-meal .meal .meal-container {
    padding: 0;
  }
}
@media screen and (max-width: 845px) {
  .section2 .bg-meal .meal .meal-container:first-child {
    border-top: 5px solid rgb(161, 127, 64);
  }
}
@media screen and (max-width: 845px) {
  .section2 .bg-meal .meal .meal-container:last-child {
    padding-top: 0;
  }
}
.section2 .bg-meal .meal .meal-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5px;
  border-bottom: 1px dashed grey;
}
.section2 .bg-meal .meal .meal-container div div {
  border-bottom: none;
}
.section2 .bg-meal .meal .meal-container div div:nth-of-type(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-right: auto;
}
.section2 .bg-meal .meal .meal-container div div:nth-of-type(2) p:first-child {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
@media screen and (max-width: 410px) {
  .section2 .bg-meal .meal .meal-container div div:nth-of-type(2) p:first-child {
    font-size: 0.8rem;
  }
}
.section2 .bg-meal .meal .meal-container div div:nth-of-type(2) p:last-child {
  font-size: 1.1rem;
}
@media screen and (max-width: 410px) {
  .section2 .bg-meal .meal .meal-container div div:nth-of-type(2) p:last-child {
    font-size: 1rem;
  }
}
.section2 .bg-meal .meal .meal-container div div:last-of-type {
  font-family: poppins, sans-serif;
  color: rgb(161, 127, 64);
}
.section2 .bg-meal .meal .meal-container img {
  border-radius: 50%;
}
@media screen and (max-width: 410px) {
  .section2 .bg-meal .meal .meal-container img {
    height: 70px;
  }
}

.section3 {
  width: 65%;
  margin: 60px auto 0;
}
@media screen and (max-width: 845px) {
  .section3 {
    width: 85%;
  }
}
.section3 .reservation {
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: center;
  background: black;
}
@media screen and (max-width: 1515px) {
  .section3 .reservation {
    display: block;
  }
}
.section3 .reservation .schedules {
  background: black;
  color: rgb(233, 233, 233);
  border: 1px dashed rgb(233, 233, 233);
  margin: 20px;
}
@media screen and (max-width: 1510px) {
  .section3 .reservation .schedules {
    margin: 0;
    border: none;
    padding: 30px;
  }
}
.section3 .reservation .schedules .schedules-container {
  margin: 30px 0;
}
@media screen and (max-width: 1510px) {
  .section3 .reservation .schedules .schedules-container {
    border: 1px dashed rgb(233, 233, 233);
    padding: 30px;
    margin: 0;
  }
}
@media screen and (max-width: 340px) {
  .section3 .reservation .schedules .schedules-container {
    padding: 20px;
  }
}
.section3 .reservation .schedules .schedules-container h3 {
  color: rgb(161, 127, 64);
  font-family: poppins;
  text-transform: uppercase;
}
.section3 .reservation .schedules .schedules-container .time-title {
  font-family: allura, sans-serif;
  text-transform: capitalize;
  font-size: 2.2rem;
}
.section3 .reservation .schedules .schedules-container h2 {
  text-transform: uppercase;
  font-family: poppins, sans-serif;
}
.section3 .reservation .schedules .schedules-container .time-title,
.section3 .reservation .schedules .schedules-container h2 {
  line-height: 20px;
}
.section3 .reservation .schedules .schedules-container img {
  margin: 30px 0;
}
.section3 .reservation .schedules .schedules-container div p {
  margin: 10px 0 35px;
}
.section3 .reservation .book {
  background: rgb(233, 233, 233);
  padding: 80px 0;
}
.section3 .reservation .book h3 {
  font-family: "allura", sans-serif;
  color: rgb(161, 127, 64);
  font-size: 2.6rem;
}
.section3 .reservation .book h2 {
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.section3 .reservation .book h3,
.section3 .reservation .book h2 {
  line-height: 30px;
}
.section3 .reservation .book img {
  margin: 40px 0;
}
.section3 .reservation .book form {
  width: 80%;
  margin: 0 auto;
}
.section3 .reservation .book form .input-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 1510px) {
  .section3 .reservation .book form .input-area {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 990px) {
  .section3 .reservation .book form .input-area {
    grid-template-columns: 1fr;
  }
}
.section3 .reservation .book form .input-area input,
.section3 .reservation .book form .input-area select {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding: 10px 0;
}
.section3 .reservation .book form button {
  margin-top: 40px;
  background: rgb(31, 31, 31);
  color: rgb(233, 233, 233);
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.section3 .events {
  text-align: center;
}
@media screen and (max-width: 1330px) {
  .section3 .events {
    display: none;
  }
}
.section3 .events .events-title {
  margin: 100px 0 30px;
}
.section3 .events .events-title h3 {
  font-family: "allura", sans-serif;
  color: rgb(161, 127, 64);
  font-size: 2.2rem;
}
.section3 .events .events-title h2 {
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 2px;
  color: rgb(233, 233, 233);
}
.section3 .events .events-title h3,
.section3 .events .events-title h2 {
  line-height: 35px;
}
.section3 .events .events-title img {
  margin-top: 30px;
}
.section3 .events .events-container {
  display: grid;
  grid-template-columns: 60% 40%;
}
.section3 .events .events-container h3 {
  font-family: poppins, sans-serif;
  font-weight: lighter;
  font-size: 1.4rem;
  padding: 0 20px;
}
.section3 .events .events-container h4 {
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 0 10px 20px;
}
.section3 .events .events-container .events-left .events-left-container {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 20px;
}
.section3 .events .events-container .events-left .events-left-container div:nth-child(2) {
  background: rgb(233, 233, 233);
  text-align: left;
  padding: 35px 10px;
}
.section3 .events .events-container .events-left .events-left-container div:nth-child(2) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  color: rgb(173, 173, 173);
  letter-spacing: 1px;
}
.section3 .events .events-container .events-left .events-left-container .img-left1 {
  background: url(../../img/event-01.jpg) center/cover;
  height: 100%;
}
.section3 .events .events-container .events-left .events-left-container .img-left2 {
  background: url(../../img/event-02.jpg) center/cover;
  height: 100%;
}
.section3 .events .events-container .events-left .events-left-container .img-left1, .section3 .events .events-container .events-left .events-left-container .img-left2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section3 .events .events-container .events-left .events-left-container .elc {
  background: rgb(31, 31, 31);
  color: rgb(233, 233, 233);
  padding: 20px 25px;
}
.section3 .events .events-container .events-left .events-left-container .elc p {
  line-height: 25px;
}
.section3 .events .events-container .events-left .events-left-container .elc p:first-child {
  font-size: 2rem;
  font-weight: bold;
}
.section3 .events .events-container .events-right {
  margin: 20px;
  background: url(../../img/event-03.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section3 .events .events-container .events-right .events-right-container {
  background: rgb(233, 233, 233);
  height: 85%;
  width: 85%;
}
.section3 .events .events-container .events-right .events-right-container div:nth-child(2) {
  background: rgb(233, 233, 233);
}
.section3 .events .events-container .events-right .events-right-container div:nth-child(2) h3 {
  line-height: 25px;
}
.section3 .events .events-container .events-right .events-right-container div:nth-child(2) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  color: rgb(173, 173, 173);
  letter-spacing: 1px;
  margin: 25px 0 80px;
}
.section3 .events .events-container .events-right .events-right-container .elc {
  background: rgb(31, 31, 31);
  color: rgb(233, 233, 233);
  padding: 20px 25px;
  display: inline-block;
  margin-bottom: 40px;
}
.section3 .events .events-container .events-right .events-right-container .elc p {
  line-height: 25px;
}
.section3 .events .events-container .events-right .events-right-container .elc p:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.section4 {
  background: url(../../img/gmap.jpg) center/cover;
  height: 430px;
  margin-top: 350px;
}
.section4 .maps-container {
  background: rgb(233, 233, 233);
  width: 65%;
  margin: auto;
  text-align: center;
  position: relative;
  top: -180px;
}
@media screen and (max-width: 1220px) {
  .section4 .maps-container {
    top: -250px;
  }
}
@media screen and (max-width: 340px) {
  .section4 .maps-container {
    width: 85%;
  }
}
.section4 .maps-container img {
  border-radius: 50%;
  height: 70px;
  position: relative;
  top: -35px;
}
.section4 .maps-container p {
  width: 70%;
  margin: 0 auto 25px;
  line-height: 25px;
}
.section4 .maps-container p strong {
  font-size: 1.5rem;
  padding: 0 10px;
}
.section4 .maps-container h3 {
  font-family: poppins, sans-serif;
  font-weight: lighter;
  font-size: 1.4rem;
}
.section4 .maps-container h4 {
  font-family: poppins, sans-serif;
  font-weight: lighter;
  color: rgb(161, 127, 64);
  padding: 10px 0 70px;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  background: url(../../img/bg-footer.jpg) center/cover;
}
@media screen and (max-width: 560px) {
  footer {
    background: rgb(31, 31, 31);
    display: block;
  }
}
footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 50px auto;
  padding-left: 300px;
  color: white;
}
@media screen and (max-width: 1400px) {
  footer .footer-left {
    padding: 0;
  }
}
@media screen and (max-width: 560px) {
  footer .footer-left {
    display: none;
  }
}
footer .footer-left h3 {
  font-family: "allura", sans-serif;
  color: rgb(161, 127, 64);
  font-size: 2.6rem;
  margin-bottom: 20px;
}
footer .footer-left p {
  color: rgb(165, 165, 165);
  line-height: 30px;
}
footer .footer-right {
  padding: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1400px) {
  footer .footer-right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  footer .footer-right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: left;
    padding: 50px 0;
    width: 85%;
    margin: auto;
  }
}
footer .footer-right h4 {
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(233, 233, 233);
}
footer .footer-right input {
  margin-top: 10px;
  background: none;
  border: 1px solid rgba(119, 88, 29, 0.123);
  padding: 5px;
}
footer .footer-right div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
footer .footer-right ul {
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}/*# sourceMappingURL=index.css.map */