.section1 {
    background: $white;
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 840px) {
        display: block;                
    }

    .left1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px dashed $color1;
        margin: 20px;

        @media screen and (max-width: 840px) {
            border: none;
            margin: 0;
            padding: 30px;         
        }

        

        .left1-container { 
            @media screen and (max-width: 840px) {
                border: 1px dashed $color1; 
                padding: 30px;        
            }        


            h3 {
                @include title;
                font-size: 2.6rem;
            }
            h2 {
                @include title2;
                font-size: 1.6rem;
            }
            h3,h2 {
                line-height: 25px;
            }
            img {
                margin: 30px 0;

                &:nth-of-type(2) {
                    margin: 25px 0 15px;
                    border-radius: 50%;
                    height: 90px;
                }
            }
            p {
                font-size: 1.2rem;
                width: 95%;
                margin: 0 auto;

                &:nth-of-type(2) {
                    color: grey;
                    font-size: 0.9rem;
                }
            }
            h4 {
                font-family: poppins, sans-serif;
                letter-spacing: 2px;
            }
        }
    }

    .right1 {
        @media screen and (max-width: 840px) {
            display: none;                
        }
        .img-right {
            height: 550px;
            width: 100%;
            background-image: url(../../img/store-01.jpg);
            background-size: cover;
            background-position: center;
        }
    }
}